:root {
  --toolbarbutton-border-radius: 0px !important;
  --tab-border-radius: 0px !important;
  --panel-border-radius: 0px !important;
  --panel-menuitem-border-radius: 0px !important;
  --popup-border-radius: 0px !important;

  --border-radius-xsmall: 0px !important;
  --border-radius-small: 0px !important;
  --border-radius-medium: 0px !important;
  --border-radius-large: 0px !important;
  --border-radius-xlarge: 0px !important;
  --border-radius-xxlarge: 0px !important;

  --button-border-radius: 0px !important;
  --card-border-radius: 0px !important;
  --checkbox-border-radius: 0px !important;
  --input-text-border-radius: 0px !important;
  --input-search-border-radius: 0px !important;
  --menuitem-border-radius: 0px !important;

  --urlbar-border-radius: 0px !important;
  --urlbar-inner-border-radius: 0px !important;
  --urlbarview-border-radius: 0px !important;
  --urlbar-selection-border-radius: 0px !important;

  --toolbox-background-gradient: none !important;

  --chrome-content-separator-color: transparent !important;

  --card-gap: var(--card-padding) !important;
  --card-header-background-color: initial !important;

  --info-bar-margin: 4px !important;
  --input-search-icon-size: var(--input-text-icon-size) !important;

  --toolbar-padding-inline: 8px !important;
}

:root,
#sidebar-container {
  --chrome-window-gap: 0px !important;
  --chrome-block-radius: 0px !important;
}

:root[uidensity="compact"] {
  --tab-min-height: 29px !important;
  --tab-margin-block: 0px !important;
  --tab-inline-padding: 8px !important;
  --tab-group-label-size: 24px !important;
  --urlbar-height: max(26px, 1.4em) !important;
}

.urlbar-background {
  border-radius: 0 !important;
}

#alltabs-button {
  display: none !important;
}
